In [5]:
'''output/end'''
'''space between comma affect output'''
print('hello',end=' ' )
print('world')
print ('hello',end='                  ')
print('world')

hello world
hello                  world

In [11]:
'''output/sep'''
'''space between comma affect output'''
print('ajay',"vijay ", 123, sep='/')
print('ajay',"vijay ", 123, sep='/         ')

'''can be used for loop without joining'''
for i in range(8):
    print(i, end=' ')

ajay/vijay /123
ajay/         vijay /         123
0 1 2 3 4 5 6 7

In [12]:

a='ajay'+ 'vijay'
print(a)

ajayvijay

In [13]:
'''input'''

a=input('enter a number')
b=input('enter a second number')
print(a)
print(b)
print('result is',a+b)

print('result is ',int(a)+int(b))

4
5
result is 45
result is  9