In [1]:
'''Set'''
'''Set is data type stored inside {} can be int, float, string, do not have duplicate value'''
temp={1,2,3,4,5,3}# will show 3 once
b={1,2,3,4,5,6,'a'}
print(b)
print(temp)
print(type(temp))
#in set duplication is not allowed it will not show duplicate in output after print

{1, 2, 3, 4, 5, 6, 'a'}
{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
''"conversion into set"''
lest=[1,2,3,4,5,3,3]
print(type(list))
print(lest)
data=set(lest)
print(data)
print(type(data))

conversion set
<class 'list'>
[1, 2, 3, 4, 5, 3, 3]
{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
'''add string/int/float set'''
set={1,2,3,4,5,3,3}
set.add('a',)
set.add(0.4)
set.add(4)
set.add(-67)
print(set)

{0.4, 1, 2, 3, 4, 5, 'a', -67}

In [21]:
'''updating set with tuple/list'''
set={1,2,3,4,5,3,3}
lest=['a','b','c','d','e','f']
tuple=(10,20,30)
set.update(lest)
set.update(tuple)
print(set)

{1, 2, 3, 4, 5, 'b', 10, 20, 'c', 'a', 30, 'e', 'f', 'd'}

In [9]:
'''removing specific data from set'''
set={1,2,3,4,5,3,3}
set.remove(3)
print(set)
set={1,2,3,4,5,3,3}
set.discard(1)
print(set)

remove specific data from set
{1, 2, 4, 5}
{2, 3, 4, 5}

In [13]:
'''all command -will give false if there is 0 as value inside set'''
set={1,2,3,4,5,3,}
print(all(set))
set={0,1}
print(all(set))
set={}
print(all(set))# empty set will be True

True
False
True

In [12]:
'''empty sting will return as false '''
set={'a','b','c','d','e','f'}
print(all(set))
set={''}
print(all(set))

True
False

In [15]:
'''any command all output same expect for an empty set'''
set={}
print(all(set))
print(any(set))

True
False