In [28]:
'''Tuples'''
'''tuple is data type stored inside () can be int, float, string, can have duplicate value'''
'''tuple is immutable we cant modify it directly'''
b=(1,2,3,4,5,6,3,7,8,)
print(type(b))

<class 'tuple'>

In [4]:
'''access data index'''
'''index start from o and in reverse from -1'''
print(b[1])
print(b[-1])

2
3

In [15]:
'''find no of data pt in tuple(list/dictionary/set)'''
print(len(b))

9

In [29]:
'''access all data in tuple'''
for i in b:
    print(i)

1
2
3
4
5
6
3
7
8

In [18]:
'''empty tuples'''
a=()
print(type(a))

<class 'tuple'>

In [19]:
'''tuple conversion'''
a=[1,2,3]
print(type(a))
b=tuple(a)
print(type(b))

<class 'list'>
<class 'tuple'>

In [22]:
"""creating range 0 will have all tuple value followed by 2,3,"""
b=('a','b','c')
for j in range (0,3):
    print(j)
    for i in b:
        print(i)

0
a
b
c
1
a
b
c
2
a
b
c

In [23]:

d=('vikram')
for l in d:
   print(l)

v
i
k
r
a
m