In [9]:
import pandas as pd
'''dropping row with missing value'''
a= {
    'A': [1, 2, 3, None, 5,6],
    'B': [None, 2, 3, 4, 5,7],
    'C': [1, 2, None, None, 5,8]
}
a1=pd.DataFrame(a)
print('original dataframe')
print(a1)
a2=a1.dropna()
print('cleaned dataframe')
print(a2)

original dataframe
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0
5  6.0  7.0  8.0
cleaned dataframe
     A    B    C
1  2.0  2.0  2.0
4  5.0  5.0  5.0
5  6.0  7.0  8.0

In [ ]:
'''filling missing values'''
a3=a1.fillna(0)
print(a3)
print('filled missing values')
# a1.fillna(0,inplace=True)
# print(a1)

In [25]:

'''dropping row with missing value'''
a= {
    'A': [1, 2, 3, None, 5,6],
    'B': [None, 2, 3, 4, 5,7],
    'C': [1, 2, None, None, 5,8]
}
a1=pd.DataFrame(a)
print('original dataframe')
print(a1)
print('using aggregate function')
a4=a1.fillna(a1.mean())
print(a4)

original dataframe
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0
5  6.0  7.0  8.0
using aggregate function
     A    B    C
0  1.0  4.2  1.0
1  2.0  2.0  2.0
2  3.0  3.0  4.0
3  3.4  4.0  4.0
4  5.0  5.0  5.0
5  6.0  7.0  8.0

In [29]:
'''handling duplicate values'''
b = {
    'A': [1, 2, 2, 3, 3, 4],
    'B': [5, 6, 6, 7, 8, 8]
}
b1=pd.DataFrame(b)
print('original dataframe')
print(b1)
print("\nDuplicate Rows:\n", b1[b1.duplicated()].to_string(index=False))
'''removing duplicate rows'''
b1.drop_duplicates(subset=['A'], keep='first', inplace=True)
print('removing duplicate rows')
print(b1)

original dataframe
   A  B
0  1  5
1  2  6
2  2  6
3  3  7
4  3  8
5  4  8

Duplicate Rows:
  A  B
 2  6
removing duplicate rows
   A  B
0  1  5
1  2  6
3  3  7
5  4  8

In [31]:
'''renaming columns'''
c = {
    'A': [25, 30, 35],
    'B': ['John', 'Doe', 'Smith'],
    'C': [50000, 60000, 70000]
}

c1 = pd.DataFrame(c)

# rename columns
c1.rename(columns={'A': 'Age', 'B': 'Name', 'C': 'Salary'}, inplace=True)

print(c1.to_string(index=False))

 Age  Name  Salary
  25  John   50000
  30   Doe   60000
  35 Smith   70000

In [32]:
import pandas as pd
import numpy as np

# create a dataframe with missing values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 3, np.nan, 5],
    'D': [1, 2, 3, 4, 5]
}
df = pd.DataFrame(data)

# replace missing values with mean
df['A'].fillna(value=df['A'].mean(), inplace=True)

# replace missing values with median
df['B'].fillna(value=df['B'].median(), inplace=True)

# replace missing values with mode
df['C'].fillna(value=df['C'].mode()[0], inplace=True)

print(df)

     A    B    C  D
0  1.0  3.5  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  1.0  4
4  5.0  5.0  5.0  5

C:\Users\v\AppData\Local\Temp\ipykernel_2828\2106249822.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(value=df['A'].mean(), inplace=True)
C:\Users\v\AppData\Local\Temp\ipykernel_2828\2106249822.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['B'].fillna(value=df['B'].median(), inplace=True)
C:\Users\v\AppData\Local\Temp\ipykernel_2828\2106249822.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['C'].fillna(value=df['C'].mode()[0], inplace=True)