In [2]:
import pandas as pd
'''reading json file t in python '''
df = pd.read_json('t.json')
print(df)

    name  age           city
0   John   30       New York
1  Emily   28  San Francisco
2  David   35        Chicago

In [9]:
'''csv type json file '''
d=pd.read_json('t2.json',orient='records',lines=True)
print(d)
d1=pd.read_json('t2.json',orient='records',lines=False)
print(d1)

                     0                          1                 2
0  [1, John, 25.12345]  [2, Jane, 30.98765432155]  [3, Alex, 28.56]
   0     1          2
0  1  John  25.123450
1  2  Jane  30.987654
2  3  Alex  28.560000

In [28]:
d2=pd.read_json('t3.json')
print(d2)
'''using split'''
print()
d3=pd.read_json('t3.json',orient='split')
print(d3)

   index columns                   data
0      0    name  [Alice, 25, New York]
1      1     age      [Bob, 30, London]
2      2    city   [Charlie, 35, Paris]

      name  age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [31]:
# create a dictionary
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

# create a dataframe from the dictionary
df = pd.DataFrame(data)

# write dataframe to json file
df.to_json('t4.json')
df1=pd.DataFrame(data)
df1.to_json('t5.json',orient='records',indent=4)