In [ ]:
'''We can filter the data in Pandas in two main ways:
By column names (Labels)
By the actual data inside (Values)'''
import pandas as pd

In [3]:

'''Filter Data By Labels'''
a = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Department': ['HR', 'Marketing', 'Marketing', 'IT'],
        'Salary': [50000, 60000, 55000, 70000]}

a1 = pd.DataFrame(a)

# display the original DataFrame
print("Original DataFrame:")
print(a1)
print("\n")

# use the filter() method to select columns based on a condition
filtered_a1 = a1.filter(items=['Name', 'Salary'])

# display the filtered DataFrame
print("Filtered DataFrame:")
print(filtered_a1)

Original DataFrame:
      Name Department  Salary
0    Alice         HR   50000
1      Bob  Marketing   60000
2  Charlie  Marketing   55000
3    David         IT   70000


Filtered DataFrame:
      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   55000
3    David   70000

In [5]:
'''Filter Data By values'''
print("Original DataFrame:")
print(a1)
print("\n")

# use logical operators to filter
logical_a1 = a1[a1.Salary > 55000]

# display the filtered DataFrame
print("logically Filtered DataFrame:")
print(logical_a1)

Original DataFrame:
      Name Department  Salary
0    Alice         HR   50000
1      Bob  Marketing   60000
2  Charlie  Marketing   55000
3    David         IT   70000


logically Filtered DataFrame:
    Name Department  Salary
1    Bob  Marketing   60000
3  David         IT   70000

In [7]:
'''The isin() Method'''
print("Original DataFrame:")
print(a1)
print("\n")
# use isin() method
dd = ['HR', 'IT']
isin_a1 = a1[a1.Department.isin(dd)]

# display the filtered DataFrame
print("is in Filtered DataFrame:")
print(isin_a1)

Original DataFrame:
      Name Department  Salary
0    Alice         HR   50000
1      Bob  Marketing   60000
2  Charlie  Marketing   55000
3    David         IT   70000


is in Filtered DataFrame:
    Name Department  Salary
0  Alice         HR   50000
3  David         IT   70000

In [10]:
'''str filtered'''
print("Original DataFrame:")
print(a1)
print("\n")
str_a1 = a1[a1.Department.str.contains('Mar')]
print(str_a1)

Original DataFrame:
      Name Department  Salary
0    Alice         HR   50000
1      Bob  Marketing   60000
2  Charlie  Marketing   55000
3    David         IT   70000


      Name Department  Salary
1      Bob  Marketing   60000
2  Charlie  Marketing   55000

In [12]:
'''query method'''
print("Original DataFrame:")
print(a1)
print("\n")
qry_a1=a1.query('Salary > 5000 and Department == "HR"')
print("Query DataFrame:")
print(qry_a1)

Original DataFrame:
      Name Department  Salary
0    Alice         HR   50000
1      Bob  Marketing   60000
2  Charlie  Marketing   55000
3    David         IT   70000


Query DataFrame:
    Name Department  Salary
0  Alice         HR   50000