In [3]:
import pandas as pd
'''accessing column'''
a = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']
}
a1 = pd.DataFrame(a)
names =a1['Name']
print(names)
ages = a1['Age']
print(ages)
'''multiple columns'''
j = a1[['Name','City']]
print(j)

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object
0    25
1    32
2    18
3    47
4    33
Name: Age, dtype: int64
      Name      City
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David     Tokyo
4      Eve    Sydney

In [15]:
'''pandas loc indexing  '''
b1=pd.DataFrame(a)
print(b1)
r1=b1.loc[1]
print(r1)
print('multiple row')
r2=b1.loc[[0,3,4]]
print(r2)
# access a list of columns
r3 = b1.loc[:,['Name', 'Age']]
print(r3)
print('specific value')
r4=b1.loc[1, 'Name']
print(r4)
r5=b1.loc[4, 'City']
print(r5)
r6=b1.loc[1:3]
print(r6)

      Name  Age      City
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47     Tokyo
4      Eve   33    Sydney
Name      Bob
Age        32
City    Paris
Name: 1, dtype: object
multiple row
    Name  Age      City
0  Alice   25  New York
3  David   47     Tokyo
4    Eve   33    Sydney
      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   18
3    David   47
4      Eve   33
specific value
Bob
Sydney
      Name  Age    City
1      Bob   32   Paris
2  Charlie   18  London
3    David   47   Tokyo

In [18]:
'''boolean indexing loc'''
c1=pd.DataFrame(a)
print(c1)
print('filtered dataframe')
c2=c1.loc[c1["Age"]>30]
print(c2)

      Name  Age      City
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47     Tokyo
4      Eve   33    Sydney
filtered dataframe
    Name  Age    City
1    Bob   32   Paris
3  David   47   Tokyo
4    Eve   33  Sydney

In [21]:
'''pandas iloc'''
d=pd.DataFrame(a)
print(d)
print(' access single row')
d1 = d.iloc[2]
print(d1)
print()
print('access rows 0, 3 and 4')
d2 = d.iloc[[0, 3, 4]]
print(d2)
print()
print('access columns 0 and 2')
d3 = d.iloc[:,[0,2]]
print(d3)
print()
print('access a specific value')
d4= d.iloc[1, 0]
print(d4)
print()

      Name  Age      City
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47     Tokyo
4      Eve   33    Sydney
 access single row
Name    Charlie
Age          18
City     London
Name: 2, dtype: object

access rows 0, 3 and 4
    Name  Age      City
0  Alice   25  New York
3  David   47     Tokyo
4    Eve   33    Sydney

access columns 0 and 2
      Name      City
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David     Tokyo
4      Eve    Sydney

access a specific value
Bob