In [7]:
import pandas as pd
a=  {
    'Name': ['John', 'Anna', 'John', 'Anna', 'John'],
    'Age': [28, 24, 28, 24, 19],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'Chicago']
}
a1 = pd.DataFrame(a)
print(a1)
print()

# check for duplicate entries
print(a1.duplicated())
'''third john in false because different age and city'''

   Name  Age         City
0  John   28     New York
1  Anna   24  Los Angeles
2  John   28     New York
3  Anna   24  Los Angeles
4  John   19      Chicago

0    False
1    False
2     True
3     True
4    False
dtype: bool

'third john in false because different age and city'

In [12]:
'''duplicate based on column'''
print(a1.duplicated(['Age', 'Name']))

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [20]:
'''removing duplicate value'''
a1.drop_duplicates( inplace=True)
print(a1)

   Name  Age         City
0  John   28     New York
1  Anna   24  Los Angeles
4  John   19      Chicago

In [22]:
'''keeping second duplicate value'''
b1=pd.DataFrame(a)
b1.drop_duplicates(keep='last',inplace=True)
print(b1)

   Name  Age         City
2  John   28     New York
3  Anna   24  Los Angeles
4  John   19      Chicago