In [4]:
import pandas as pd
from pymatgen.util.plotting import periodic_table_heatmap

a={'country':[' Canada ','Australia ','UK ','Brazil'],
   'capital': ['Ottawa','canberra','london','Brasilia'],
    'Population':[37742154,25499884,67886011,212559417]}
df=pd.DataFrame(a)
print(df)

      country   capital  Population
0     Canada     Ottawa    37742154
1  Australia   canberra    25499884
2         UK     london    67886011
3      Brazil  Brasilia   212559417

In [6]:
'''using 2d python list'''
# create a two-dimensional list
data = [['John', 25, 'New York'],
       ['Alice', 30, 'London'],
       ['Bob', 35, 'Paris']]
# create a DataFrame from the list
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

In [12]:
a=pd.read_csv("pt.csv")
print(a)

     Element Symbol  AtomicNumber  AtomicWeight  Group  Period
0   Hydrogen      H             1        1.0080      1       1
1     Helium     He             2        4.0026     18       1
2    Lithium     Li             3        6.9400      1       2
3  Beryllium     Be             4        9.0122      2       2
4      Boron      B             5       10.8100     13       2
5     Carbon      C             6       12.0110     14       2
6   Nitrogen      N             7       14.0070     15       2
7     Oxygen      O             8       15.9990     16       2
8   Fluorine      F             9       18.9980     17       2
9       Neon     Ne            10       20.1800     18       2

In [13]:
'''empty data frame'''
s=pd.Series()
print(s)

Series([], dtype: object)