In [14]:
import pandas as pd
a = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 20, 25, 30, 35]
}

a1 = pd.DataFrame(a)

# calculate total sum of the Value column
sum = a1['Value'].aggregate('sum')
print("Total:", sum)

# calculate the mean of the Value column
average = a1['Value'].aggregate('mean')
print("Average:", average)

# calculate the maximum value in the Value column
max= a1['Value'].aggregate('max')
print("Maximum :", max)
min= a1['Value'].aggregate('min')
print("Minimum :", min)
total = a1['Value'].agg(['sum', 'mean', 'max', 'min'])
print('all\n',total)

Total: 135
Average: 22.5
Maximum : 35
Minimum : 10
all
 sum     135.0
mean     22.5
max      35.0
min      10.0
Name: Value, dtype: float64

In [6]:
'''using multiple aggregate functions'''
b = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 20, 25, 30, 35]
}
#result will be according to A&B
b1 = pd.DataFrame(b)

# applying multiple aggregation functions to a single column
result = b1.groupby('Category')['Value'].agg(['sum', 'mean', 'max', 'min'])
print(result)

          sum       mean  max  min
Category
A          55  18.333333   30   10
B          80  26.666667   35   20

In [13]:
'''different aggregate functions to different column'''
c = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value1': [10, 15, 20, 25, 30, 35],
    'Value2': [5, 8, 12, 15, 18, 21]
}

c1 = pd.DataFrame(c)

af = {'Value1': 'sum','Value2': ['mean', 'max']}

c2 = c1.groupby('Category').aggregate(af)
print(c2)

         Value1     Value2
            sum       mean max
Category
A            55  10.333333  18
B            80  16.000000  21