In [5]:
import pandas as pd
'''one data in temp is in string format'''
a= {
    'Country': ['USA', 'Canada', 'Australia', 'Germany', 'Japan'],
    'Date': ['2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23', '2023-07-24'],
    'Temperature': [25.5, '28.0', 30.2, 22.8, 26.3]
}
a1 = pd.DataFrame(a)

# convert temperature column to float
a1['Temperature'] = a1['Temperature'].astype(float)

# calculate the mean temperature
mean_temperature = a1['Temperature'].mean()

print(mean_temperature)

26.560000000000002

In [6]:
'''handling mixed data'''
'''create a sample dataframe with mixed date formats'''
b = pd.DataFrame({'date': ['2022-12-01', '01/02/2022', '2022-03-23', '03/02/2022', '3 4 2023', '2023.9.30']})

# convert the date column to datetime format
b['date'] = pd.to_datetime(b['date'], format='mixed', dayfirst=True)
print(b)
print('preferred format')
b[' new date'] = b['date'].dt.strftime('%d/%m/%Y')
print(b)

        date
0 2022-12-01
1 2022-02-01
2 2022-03-23
3 2022-02-03
4 2023-04-03
5 2023-09-30
preferred format
        date    new date
0 2022-12-01  01/12/2022
1 2022-02-01  01/02/2022
2 2022-03-23  23/03/2022
3 2022-02-03  03/02/2022
4 2023-04-03  03/04/2023
5 2023-09-30  30/09/2023

In [7]:
'''handling wrong data'''
# create dataframe data about students of an all-boys elementary school.
c = {
    'Name': ['John', 'Michael', 'Tom', 'Alex', 'Ryan'],
    'Age': [8, 9, 7, 80, 100],
    'Gender': ['M', 'M', 'M', 'F', 'M'],
    'Standard': [3, 4, 12, 3, 5]
}
c1 = pd.DataFrame(c)

# replace F with M because its boy school
'''Replace Individual Values'''
c1.loc[3, 'Gender'] = 'M'

print(c1)

      Name  Age Gender  Standard
0     John    8      M         3
1  Michael    9      M         4
2      Tom    7      M        12
3     Alex   80      M         3
4     Ryan  100      M         5

In [8]:
"""replace value based in condition"""
#age of alex and ryan is not wrong because max age of elementary school is 14
c2=c1
print(c2)
for i in c2.index:
    age=c2.loc[i]['Age']
    if age >14:
        c2.loc[i, 'Age'] = age/10
print(c2)

      Name  Age Gender  Standard
0     John    8      M         3
1  Michael    9      M         4
2      Tom    7      M        12
3     Alex   80      M         3
4     Ryan  100      M         5
      Name  Age Gender  Standard
0     John    8      M         3
1  Michael    9      M         4
2      Tom    7      M        12
3     Alex    8      M         3
4     Ryan   10      M         5

In [13]:
"""removing wrong value"""
#std 12 is wrong for elementary school and we dont no right std
c3=c1
for i in c3.index:
    if c3.loc[i]['Standard']>8:
        c3.drop(i, inplace=True)
print(c3)

      Name  Age Gender  Standard
0     John    8      M         3
1  Michael    9      M         4
3     Alex    8      M         3
4     Ryan   10      M         5